.bottom-nav-list{
    @apply flex items-center justify-between px-6 py-2 shadow-lg;
}

.bottom-nav-item a{
    @apply flex-1 flex items-center flex-col gap-1 sm:text-sm text-[13px] relative;
}
.bottom-nav-item.active a > div {
    @apply -translate-y-7  w-[50px] h-[50px] rounded-full flex items-center justify-center;
    background-image: var(--primaryGradientHover) ; 
}
.bottom-nav-item.active a {
    /* @apply mr-4; */
}
.bottom-nav-item.active a > div img {
    filter : brightness(0) invert(1)
}
.bottom-nav-item.active a span {
    display: none;
}