@tailwind base;
@tailwind components;
@tailwind utilities;
 
html {
    font-family: 'Poppins', sans-serif;
}


:root {
    --primary : #28B446;
    --primaryGradientHover : linear-gradient(180deg, #28B446 0%, #00F134 100%);
    --primaryGradient : linear-gradient(180deg, #00F134 0%, #28B446 100%);
    --primaryHover : #0d992b ;
    --secondary : #111827 ;
    --grayText : #9CA3AF;
    --dark : #5c5c5c ;
    --pure : #fff;
}

.overlay-gradient{
    background-image: linear-gradient(180deg, #28b44683 0%, #08f1008e 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#select-box-input{
    padding : 6px 0 !important;
    outline : none !important; 
}

.css-t3ipsp-control{
    border : none !important;
}

@media print {
    .report {
        padding : 2rem;
    }
    .report table {
        border : 1px solid var(--dark);
    }
    .report table td , .report table th {
        border : 1px solid gray;
    }
}







.dashboard-card {
    box-shadow: 0px 0px 20px #e6e6e6,
                inset 0px 0px 20px #ffffff;
    border-radius: 20px;
    padding: 22px;
    height: 200px;
    width: 100%;
}
  

@media (max-width: 768px){
    .responsiveTable tbody tr td.pivoted {
        text-align: right !important; /* Change text alignment to center */
    }
   .responsiveTable tbody tr {
        border : 1px solid rgb(190, 190, 190) !important;
        border-radius: 4px !important;
   }
}